/* 1 VÍ dụ dưới test hoạt động của pseodo-classes :hover, tác dụng lên selector khi di chuột qua */
/* .di_chuot:hover{
    color: red;
    font-size: 30px;
} */

/* 2 ví dụ dưới test cách hoạt động của thẻ pseodo-classé :active tác động vài selector khi nhấn và giữ chuột*/
/* .di_chuot:active {
  color: blue;
  font-size: 30px;
}
.link:active {
  color: greenyellow;
  font-size: 30px;
} */

/* 3. ví dụ test cách hoạt động của thẻ pseodo-class :link tác động vào selector khi */
/* .Click_me:link {
  color: chocolate;
}
.Click_me:visited {
  color: red;
} */

/* 4. ví dụ test cho thẻ div và lớp giả :empty tác động cho selector mà đang không có nội dung*/
/* .div_elm:empty {
  width: 200px;
  height: 200px;
  background-color: blue;
} */
/* ví dưới thể hiện việc xóa lớp giả :empty đi và thêm nội dung text html vào thẻ thì phần selector sẽ chuyển qua màu vàng như dưới */
/* .div_elm {
  width: 200px;
  height: 200px;
  background-color: rgb(213, 220, 25);
} */
/* Ví dụ này để test thay đổi khi click vào href mở bài, thân bài hoặc kết bài thì khi click vào href thì phần hash # tương ứng sẽ hiện màu xanh dương */

/* h2:target{
    color: blue;
} */

/* 4. ví dụ về các thẻ phần tử con child selector */
/* p:first-child {
    color: red;
    font-size: 30px;
} */
/* test ơhần tử con p cuối cùng :last-child */
/* p:last-child {
    color: blue;
    font-size: 30px;} */

/* test phần tử con p ở vị trí thừ 2 từ trên xuống, ngoài cách p:nth-child(2) ra thì còn có thể sử dùng 
odd（nhảy theo n lẻ)
even ( nhảy theo n chẵn)
2n+1 ( nhảy theo step mong muốn) */
/* p:nth-child(2){
  color: pink;
  font-size: 30px;
} */
/* 
p:nth-child(even){
  color: red;
} */

/* p:nth-child(odd){
  color: blue;
} */
/* 
n=0 -> 1
n=1 -> 4
n=2 -> 7 */
/* p:nth-child(3n+1){
  color: orange;
} */
/* test các phần tử con p thứ 2 tính từ dưới lên */
/* p:nth-last-child(2){
  color: blue;
} */
/* test các phần tử con p lẻ
p:nth-last-child(odd){
  color: fuchsia;
} */
/* test các phần tử con p chẵn */
/* p:nth-last-child(even){
  color: mediumspringgreen;
} */

/* p:only-child{
  color: blue;
  font-size: 30px;
} */

/* test cho phần 5.1 */
/* p:first-of-type{
  color: blue;
  font-size: 20px;
} */

/* test cho 5.2 phần tử con p:last-of-type */
/* p:last-of-type {
  color: red;
  font-size: 20px;
} */

/* test cho phần 5.3 phần tử con p:nth-of-type(n) n=2 */
/* p:nth-of-type(2){
  color: blueviolet;
  font-size: 30px;
} */


/* ví dụ thêm để so sánh 2 thẻ :only-child và :only-of-type */
/* p:only-child{
  color: chocolate;
  font-size: 30px;
} */
/* Test thẻ :only-of-type cho thẻ con p nằm trong thẻ div và có thêm thẻ con khác là h4 */
/* p:only-of-type {
  color: rgb(209, 60, 147);
  font-size: px;
} */

/* ví dụ cho thẻ phần tử :not(selector) phần 6 */
/* .top:not(p){
  color: chocolate;
  background-color: bisque;
} */

/* ví dụ cho thẻ :not(selector) là thẻ :first-of-type bên trong */
.top:not(:first-of-type){
  background-color:darkkhaki;
}