/* 1 VÍ dụ dưới test hoạt động của pseodo-classes :hover, tác dụng lên selector khi di chuột qua */
/* .di_chuot:hover{
    color: red;
    font-size: 30px;
} */

/* 2 ví dụ dưới test cách hoạt động của thẻ pseodo-classé :active tác động vài selector khi nhấn và giữ chuột*/
/* .di_chuot:active {
  color: blue;
  font-size: 30px;
}
.link:active {
  color: greenyellow;
  font-size: 30px;
} */

/* 3. ví dụ test cách hoạt động của thẻ pseodo-class :link tác động vào selector khi */
/* .Click_me:link {
  color: chocolate;
}
.Click_me:visited {
  color: red;
} */

/* 4. ví dụ test cho thẻ div và lớp giả :empty tác động cho selector mà đang không có nội dung*/
/* .div_elm:empty {
  width: 200px;
  height: 200px;
  background-color: blue;
} */
/* ví dưới thể hiện việc xóa lớp giả :empty đi và thêm nội dung text html vào thẻ thì phần selector sẽ chuyển qua màu vàng như dưới */
/* .div_elm {
  width: 200px;
  height: 200px;
  background-color: rgb(213, 220, 25);
} */
/* Ví dụ này để test thay đổi khi click vào href mở bài, thân bài hoặc kết bài thì khi click vào href thì phần hash # tương ứng sẽ hiện màu xanh dương */

h2:target{
    color: blue;
}


/* 4. ví dụ về các thẻ phần tử con child selector */
p:first-child {
    color: red;
    font-size: 30px;
}
/* test ơhần tử con p cuối cùng :last-child */
p:last-child {
    color: blue;
    font-size: 30px;
}
p:nth-child(2){
  color: pink;
  font-size: 30px;
}